
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<asp-progressbar value="75" min="0" max="100"></asp-progressbar>

@*<div progressbar-value="30" progressbar-min="0" progressbar-max="100"></div>*@

<br/>

<div progressbar-value="30" progressbar-max="100" progressbar-min="0"></div>
