@model Sol_Custom_TagHelper.Models.ProgressBarModel

@{
    ViewData["Title"] = "ModelExpressionDemoIndex";
}

<h1>ModelExpressionDemoIndex</h1>

<asp-progressbar-modelexpression for-value="ProgressBarValue" for-max="ProgressBarMax" for-min="ProgressBarMin"></asp-progressbar-modelexpression>

